[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:oenegm/vehicle-renter-api-gateway.git
[submodule "profiles-service"]
	path = profiles-service
	url = git@github.com:oenegm/vehicle-renter-profiles-service.git
[submodule "rental-requests-service"]
	path = rental-requests-service
	url = git@github.com:oenegm/vehicle-renter-rental-requests-service.git
[submodule "user-info-service"]
	path = user-info-service
	url = git@github.com:oenegm/vehicle-renter-user-info-service.git
[submodule "vehicle-info-service"]
	path = vehicle-info-service
	url = git@github.com:oenegm/vehicle-renter-vehicle-info-service.git
[submodule "config-server"]
    path = config-server
    url = git@github.com:oenegm/vehicle-renter-config-server.git